<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-4 footer-grid-agileits-w3ls text-left">
				<h3>Hakkımızda</h3>
				<p class="text-center">
					Düzce Üniversitesi’nin temelleri, 1976 yılında İstanbul Teknik Üniversitesi Sakarya Mühendislik Fakültesi’ne bağlı olarak Düzce Meslek Yüksekokulu’nun açılışına kadar dayanmaktadır.
					<br>
					Kurulduğu 17 Mart 2006 tarihinden günümüze değer üretme felsefesi ışığında; bilimsel araştırmaları, katma değerli çalışmaları, bölgesel kalkınmaya katkıları ile bir fidandan bir çınara dönüşen Düzce Üniversitesi, girişimci, yenilikçi ve şeffaf yönetim kültürü ile faaliyetlerini başarıyla sürdürmektedir.
				</p>
				<div class="read">
					<a asp-controller="#" asp-action="#" class="btn btn-primary read-m">Daha Fazla...</a>
				</div>
			</div>
			<div class="col-lg-4 footer-grid-agileits-w3ls text-left">
				@* <partial name="~/Views/Blog/PartialGetLast3Blog.cshtml"></partial> *@
			</div>
			<!-- subscribe -->
			<div class="col-lg-4 subscribe-main footer-grid-agileits-w3ls text-left">
				<h2>Haber Bültenimize Kaydolun</h2>
				<div class="subscribe-main text-left">
					<div class="subscribe-form">
						<div class="clearfix"> </div>
					</div>

				</div>
				<!-- //subscribe -->
			</div>
		</div>
		<!-- footer -->
		<div class="footer-cpy text-center">
			<div class="footer-social">
				<div class="copyrighttop">
					<ul>
						<li class="mx-3">
							<a class="facebook" href="#">
								<i class="fab fa-facebook-f"></i>
								<span>Facebook</span>
							</a>
						</li>
						<li>
							<a class="facebook" href="#">
								<i class="fab fa-twitter"></i>
								<span>Twitter</span>
							</a>
						</li>
						<li class="mx-3">
							<a class="facebook" href="#">
								<i class="fab fa-google-plus-g"></i>
								<span>Google+</span>
							</a>
						</li>
						<li>
							<a class="facebook" href="#">
								<i class="fab fa-pinterest-p"></i>
								<span>Pinterest</span>
							</a>
						</li>
					</ul>

				</div>
			</div>
			<div class="w3layouts-agile-copyrightbottom">
				<p>© @DateTime.Now.Year  Düzce Üniversitesi |
					<a href="#">Değer Katan Üniversite</a>
				</p>

			</div>
		</div>

		<!-- //footer -->


	</div>
</footer>