<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-4 footer-grid-agileits-w3ls text-left">
				<h3>Hakkımızda</h3>
				<p>Amacımız herşeyi kendimiz yapıp nasıl yapıldığını anlatmak ve birşeyler yaparken öğrendiklerimizi
					paylaşmak.
					<br>
					Teknolojik Blog olarak kendime özgü kişisel deneme ve testlerimi buradan paylaşmaktayım. Sadece bu
					yayınların altında Teknolojik Blog veya Kişisel imzam bulunmaktadır.
				</p>
				<div class="read">
					<a asp-controller="About" asp-action="Index" class="btn btn-primary read-m">Daha Fazla...</a>
				</div>
			</div>
			<div class="col-lg-4 footer-grid-agileits-w3ls text-left">
				@* <partial name="~/Views/Blog/PartialGetLast3Blog.cshtml"></partial> *@
			</div>
			<!-- subscribe -->
			<div class="col-lg-4 subscribe-main footer-grid-agileits-w3ls text-left">
				<h2>Haber Bültenimize Kaydolun</h2>
				<div class="subscribe-main text-left">
					<div class="subscribe-form">
						<partial name="~/Views/NewsLetter/SubscribeMail.cshtml"></partial>
						<div class="clearfix"> </div>
					</div>

				</div>
				<!-- //subscribe -->
			</div>
		</div>
		<!-- footer -->
		<div class="footer-cpy text-center">
			<div class="footer-social">
				<div class="copyrighttop">
					<ul>
						<li class="mx-3">
							<a class="facebook" href="#">
								<i class="fab fa-facebook-f"></i>
								<span>Facebook</span>
							</a>
						</li>
						<li>
							<a class="facebook" href="#">
								<i class="fab fa-twitter"></i>
								<span>Twitter</span>
							</a>
						</li>
						<li class="mx-3">
							<a class="facebook" href="#">
								<i class="fab fa-google-plus-g"></i>
								<span>Google+</span>
							</a>
						</li>
						<li>
							<a class="facebook" href="#">
								<i class="fab fa-pinterest-p"></i>
								<span>Pinterest</span>
							</a>
						</li>
					</ul>

				</div>
			</div>
			<div class="w3layouts-agile-copyrightbottom">
				<p>© @DateTime.Now.Year Weblog. Asp.Net Core Blog Project | Development by
					<a href="#">Kaan Berat Tokat</a>
				</p>

			</div>
		</div>

		<!-- //footer -->


	</div>
</footer>